.afterKeyboardActive{
  background-color: #d33939;
  ion-grid{
    color: red;
    margin-bottom: 200px;
  }

}
.beforeKeyboardActive{
  height: auto;
  background-color: #0bb8cc;
  ion-grid{
    color: blue;
  }
}


