.afterKeyboardActive{
  max-height: 710px;
  background-color: #d33939;
  margin-bottom: 200px;
  ion-grid{
    color: red;
  }

}
.beforeKeyboardActive{
  height: auto;
  background-color: #0bb8cc;
  ion-grid{
    color: blue;
  }
}


